# Entornos virtuales
env/
venv/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Cachés y cobertura
.pytest_cache/
.mypy_cache/
.cache/
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints

# Archivos de entorno y credenciales
.env
.env.*

# IDEs y editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.swp

